body{
    text-align: center;
   
}

.container {
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 30px;
    border: 2px solid aqua;
    border-radius: 15px;
}
.calculator{
    display: inline-block;
    border: 1px solid black;
    background-color: blueviolet;
}
button{
    font-size: 30px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: rgb(174, 167, 233);
    
}